<?xml version='1.0' encoding='utf-8'?>
<plugin id="zm.co.vefdzpos" version="1.0.0" 
xmlns="http://apache.org/cordova/ns/plugins/1.0" 
xmlns:android="http://schemas.android.com/apk/res/android">
<name>zposvefdplugin</name>
<js-module name="zposvefdplugin" src="www/zposvefdplugin.js">
<clobbers target="zposvefdplugin" />
</js-module>
<platform name="android">
<config-file parent="/*" target="res/xml/config.xml">
<feature name="zposvefdplugin">
<param name="android-package" value="zm.co.vefdzpos.zposvefdplugin" />
</feature>
</config-file>
<config-file parent="/*" target="AndroidManifest.xml">
</config-file>
<!-- <framework src="src/android/extras.gradle" custom="true" type="gradleReference" /> -->
<source-file src="src/android/zm/co/vefdzpos/zposvefdplugin.java" target-dir="src/zm/co/vefdzpos/zposvefdplugin" />
<source-file src="src/android/zm/co/vefdzpos/RSA.java" target-dir="src/zm/co/vefdzpos/RSA" />
<source-file src="src/android/libs/commons-codec-1.12-rep.jar" target-dir="libs" />
</platform>
</plugin>